* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-logo {
    padding-left: 40px;
}

#logo {
    padding-top: 20px;
}

li {
    list-style: none;
    display: inline;
    font-size: 15px;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    font-family: 'Open Sans', sans-serif;
}

.right-nav {
    float: right;
    padding-top: 20px;
}

.tuitt-button {
    background: #c2195b;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 50px;
    border-color: white;
    font-size: 15px;
}

#bg-image {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-size: 100%;
    padding-left: 0px;
    margin-top: 0.8rem;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    max-width: auto;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;.

}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 50vh;
    padding-top: 30px;
}

.title {
    font-family: 'Zilla Slab', serif;
    color: white;
    position: relative;
    font-size: 40px;
    padding-left: 50rem;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: white;
    position: relative;
    padding-top: 35px;
    padding-left: 50rem;
    font-weight: lighter;

}

.apply-button {
    float: right;
    margin-right: 100px;
    margin-top: 3rem;
    border-radius: 50px;
    background: #c2195b;
    color: white;
    height: 40px;
    width: 120px;
    border-width: 0.5px
}

.title-2 {
    text-align: center;
    padding-top: 2rem;
    font-family: 'Zilla Slab', serif;
    font-size: 30px;
    font-weight: bolder;

}

.intro-description {
    text-align: center;
    padding-top: 1rem;
    margin-right: 8rem;
    margin-left: 8rem;
}

.prefooter-description {
    text-align: center;
    padding-top: 1rem;
    margin-right: 8rem;
    margin-left: 8rem;
}


.book-button {
    border-radius: 50px;
    background: #2B547E;
    color: white;
    height: 30px;
    width: 100px;
    border-width: 0.5px;
    margin-left: 46rem;
    margin-top: 2rem;
    font-size: 14px;

}

footer {
    text-align: center;
    padding-top: 2rem;
    margin-right: 8rem;
    margin-left: 8rem;
    font-size: 15px;
}










































/*.subtitle {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    margin-top: 7px;
    margin-bottom: 50px;
    margin-right: 50px;
    padding: 7px;
    display: inline-block;
    text-align: center;
    width: 10rem;
    font-size: 15px;
    text-align: right;
}*/
/*
.apply-button {
    background-color: #c2195b;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 250px;
    margin-bottom: 50px;
    margin-right: 50px;
    padding: 7px;
    border: none;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    width: 10rem;
}*/